.evalio-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  min-height: 100vh; /* Full viewport height */
  text-align: center; /* Center text */
  padding: 2rem;
  box-sizing: border-box;
}

.section {
  margin-bottom: 2rem;
  max-width: 800px;
  width: 100%;
}

.member {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
}
